[Desktop Entry]
Type=Application
Name=AppFlowy
Icon=io.appflowy.AppFlowy
Exec=AppFlowy %U
Keywords=Notes
Categories=Office;
MimeType=x-scheme-handler/appflowy-flutter;